<div class="read-more">
  <div class="read-more-header">
    <a href="mailto:{{ site.owner.email }}" class="read-more-btn" style="color: #fff;">Свяжитесь с нами</a>
  </div><!-- /.read-more-header -->
  <div class="author-info">
    
        {% for network in site.social %}
        <div style="float:left; margin:10px;">
          <a href="{{ network.url }}" target="_blank" style="text-decoration: none;"><i class="fa fa-{{ network.title }} fa-fw"></i><span style="margin-left:5px; font-family: Calibri;">{{ network.text }}</span></a>
        </div>
        {% endfor %}

  </div>
</div>

<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}.</span>
